* { box-sizing: border-box; }
body { background-color: #d0ddc0; 
       color: #000201;
       font-family: Arial, Verdana, sans-serif;
       margin: 0; 
       background-image: url(WoodGrain.jpg);
}

main { 
      padding-left: 2em;
      padding-right: 2em;
      display: block;
      padding-bottom: 0;
      padding-top: 0;
      padding-left: 1em;
      padding-right: 1em;
}
header { 
      color: #FFFFFF;
      font-family: Georgia, sans-serif;
      background-image: url(Final-Home-Page-Header.jpg);
      padding: 1em;
}

header a { text-decoration: none; }
header a:link { color: #FFFFFF}
header a:visited {color: #FFFFFF}
header a:hover{ color: #74f77b}

 h1 { text-align: center;
      font-size: 1.5em;
}

h2 { color: #044412; 
	 font-family: Georgia, serif; 
      }

nav { 
      text-align: center;
      background-color: #567949;
      font-size: 1.2em;
}
nav a:link { color: #adffad;}

nav a:visited { color: #084608;}

nav a:hover { color: #2aa58a;}


nav ul { text-decoration: none;
         padding-left: 0;
         list-style-type: none;
         flex-direction: column;
         margin: 0;
      }

nav li {
      padding-bottom: .5em;
      padding-top: .5em;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      border-bottom: 1px solid;
}      

nav a { text-decoration: none;
}

dt { color: #2a552e;
	font-weight: bold; 
}

.cook { color: #91725e; 
          font-size: 1.2em;  
      }
footer { 
         text-align: center;
         font-size: .70em;
         font-style: italic;
         padding: 3em;
}

section {
      padding-left: .5em;
      padding-right: .5em;
}

#mobile {
      display: inline;
}

#desktop {
      display: none;
}

#wrapper {
      background-color: #d0ddc0;
}

#kitchenhero {
      background: url(HomePage.jpg) no-repeat;
      background-size: 200% 100%;
      height: 300px;
}
#italianhero {
      background: url(Italian-Page-Image.jpg) no-repeat;
      background-size: 200% 100%;
      height: 300px;
}
#frenchhero {
      background: url(French-Page-Image.jpg) no-repeat;
      background-size: 200% 100%;
      height: 300px;
}
#mexicanhero {
      background: url(Mexican-Page-Image.jpg) no-repeat;
      background-size: 200% 100%;
      height: 300px;
}
#mediterraneanhero {
      background: url(Mediterranean-Page-Image.jpg) no-repeat;
      background-size: 200% 100%;
      height: 300px;
}
#bookinghero {
      background: url(Booking-Page-Header.jpg) no-repeat;
      background-size: 200% 100%;
      height: 300px;
}



table { margin: auto;
        border: 1px solid #033507;
        width: 35%;
        text-align: center;
        border-collapse: collapse;
}

td, th 
{
      padding: 5px;
      border: 1px solid #033507;
}
td
{
      text-align: center;
}
.text
{
      text-align: left;
}
tr:nth-of-type(odd) { background-color: #b3d6a3;}

input, textarea {
      margin-bottom: .5em;
}

form { display: flex;
         flex-direction: column;
         padding-left: 1em; width: 80%;
}

#bookinghero {
      background: url(Booking-Page-Header.jpg) no-repeat;
      background-size: 100% 100%;
      height: 300px;
}

/* Medium Display */
@media (min-width: 600px) {
h1 {
      font-size: 2em;
      letter-spacing: .25em;
}
nav li {
         width: 12em;
         border-bottom: none;
}
nav ul { display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
         padding-right: 2em;
}

section { padding-left: 2em;
          padding-right: 2em;
}

#flow {
      display: flex;
      flex-direction: row;
}
#mobile {
      display: none;
}
#desktop {
      display: inline;
}
#kitchenhero {
      background-size: 100% 100%;
}
#italianhero {
      background-size: 100% 100%;
}
#frenchhero {
      background-size: 100% 100%;
}
#mexicanhero {
      background-size: 100% 100%;
}
#mediterraneanhero {
      background-size: 100% 100%;
}

      form { display: grid;
         grid-template-columns: 10em 1fr;
         grid-gap: 1em;
         width: 60%;
      }
      input[type="submit"] { grid-column: 2 / 3; 
                         width: 10em;}
}

      #bookinghero {
            background-size: 100% 100%
}

/*Large Display */
@media (min-width: 1024px) {
      body { 
            background-image: url(WoodGrain.jpg); 
      }
      
      nav ul { 
            padding-right: 10%; 
            padding-left: 10%;
            }
      #wrapper { 
            width: 80%;
            margin: auto;
      }
}