body {  background-color: #804c2a;
       color: #021a08	;
       font-family: Arial, Verdana, sans-serif; 
      background-repeat: no-repeat;
      background-image: linear-gradient(to bottom, #be9e80, #804c2a)}
main {
      padding-left: 2em;
      padding-right: 2em;
      display: block;
}
header { background-color: #41250c; 
       color: #FFFFFF;
       font-family: Georgia, sans-serif; 
      background-image: url(Final-Home-Page-Header.jpg);
      background-position: center;
      background-repeat: no-repeat;
      height: 72px;
}
 h1 { text-align: center;
      padding-top: .5em
}
h2 { color: #91725e; 
	 font-family: Georgia, serif; 
      }
nav { font-weight: bold;
      text-align: center;
      padding: .5em .5em .5em; 
      background-color: #556b2f;
}
nav a { text-decoration: none;
}

footer { text-align: center;
}
#kitchenhero {
      background: url(Homepage-Kitchen-Hero.jpg) no-repeat;
      background-size: 100% 100%;
      height: 300px;
}